* {
  font-family: "JetBrainsMono Nerd Font", monospace;
}

window {
  background-color: #24273a;
}

#input {
  margin: 5px;
  border-radius: 12px;
  border: none;
  background-color: #24273a;
  color: #cad3f5;
}

#outer-box {
  margin: 2px;
  padding: 10px;
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: #cad3f5;
}

#entry:selected {
  background-color: #b7bdf8;
}
